<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página principal</title>
    <script src="https://cdn.socket.io/4.5.4/socket.io.min.js" integrity="sha384-/KNQL8Nu5gCHLqwqfQjA689Hhoqgi2S84SNUxC3roTe4EhJ9AfLkp8QiQcU8AMzI" crossorigin="anonymous"></script>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body{
            color: #fff;
            background-color: #000000;
        }

        .header, .team-area, .team{
            display: flex;
            font-family: 'Nunito', sans-serif;
        }

        .header{
            width: 100%;
            height: 20vh;
            justify-content: space-around;
            align-items: center;
        }

        .team-area{
            width: 100%;
            height: 80vh;
            justify-content: space-around;
            align-items: center;
        }

        .team{
            width: 300px;
            height: 500px;
            border: 1px solid rgb(218, 214, 214);
            justify-content: center;
            padding: 50px;
        }

        .block, .block-lose {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            width: 400px;
            height: 300px;
            background: linear-gradient(0deg, #000, #272727);
        }
        

        .block:before, .block:after {
            content: '';
            position: absolute;
            left: -2px;
            top: -2px;
            background: linear-gradient(45deg, #57e62b, #16ec21, #00ff00,#14bb0e, #4cdd09, #16af2a, 
                #35a708, #00ff00,#4cdf1f, #32f121);
            background-size: 400%;
            width: calc(100% + 4px);
            height: calc(100% + 4px);
            z-index: -1;
            animation: steam 20s linear infinite;
        }

        .block-lose:before, .block-lose:after {
        }

        @keyframes steam {
            0% {
                background-position: 0 0;
            }
            50% {
                background-position: 400% 0;
            }
            100% {
                background-position: 0 0;
            }
        }

        .block:after {
            filter: blur(50px);
        }
    </style>
</head>
<body>
    <header class="header">
        <h1>Saturn<span style="color: rgb(84, 255, 5);">Sports</span></h1>
        <h3>Jogo em <span style="color: rgb(84, 255, 5);">Tempo Real!</span></h3>
    </header>

    <div class="team-area">
        <div class="block" id="team-a">
            <h2>2JODI</h2>
        </div>
        <div class="points-area">
            <h1><span id="pointsA">0</span> X <span id="pointsB">0</span></h1>
        </div>

        <div class="block" id="team-b">
            <h2>3DES</h2>
        </div>
    </div>

    
</body>
<script>
    var socket = io('http://localhost:3000');
    const pointsA = document.getElementById('pointsA');
    const pointsB = document.getElementById('pointsB');
    const teamACard = document.getElementById('team-a');
    const teamBCard = document.getElementById('team-b');

    async function requestActualPoints(){
        let res = await fetch('http://localhost:3000/session/points');
        let data = await res.json();
        return data;
    }

    socket.on('connect', async ()=>{
        let data = await requestActualPoints();
        if(!data) return;
        pointsA.innerText = data.pointsA;
        pointsB.innerHTML = data.pointsB;
    })

    socket.on('showPoints', (res)=>{
        pointsA.innerText = res.pointsA;
        pointsB.innerText = res.pointsB;
    });

</script>
</html>
